# Server
PORT=4000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://127.0.0.1:27017/protocol_department

# Auth
JWT_SECRET=replace_this_with_a_long_random_string
JWT_EXPIRES_IN=1d

# CORS
FRONTEND_URL=http://localhost:3000
